html, body {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%; 
    overflow: hidden; 
}

body {
    background-image: url('images/background4.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed; 
}
header{
    height: 75px;
    width: 100%;
}
.header-Section{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: transparent;
    width: auto;
    padding: 10px 10px;
    overflow: hidden;
}
.header-content {
    display: flex;
    align-items: center; 
}
.logo-image{
    max-width: 50px;
    height: auto;
    padding: 10px 10px 10px 25px;
}
.logo-image img {
    max-width: 50px; 
    height: auto;
    border-radius: 10px; 
}
.site-name {
    font-size: 20px; 
    color: white; 
    
}
.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0px 50px;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    padding: 0;
    margin: 0;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 7px;
    transition: background 0.3s;
    border-radius: 5px;
}
.navbar ul li a:hover {
    background-color: #11cdee; 
    color: black;
}