html, body {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%; 
    overflow: hidden; 
}

body {
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; 
    background-image: url('images/background1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-y: auto; 
}
header{
    height: 50px;
    width: 100%;
    margin: 10px 10px;
    padding: 10px 10px;    
}
.header-Section{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: transparent;
    height: 50px;
}
.header-content {
    display: flex;
    align-items: center; 
}
.logo-image{
    max-width: 50px;
    height: auto;
    padding: 10px 10px 10px 25px;
}
.logo-image img {
    max-width: 50px; 
    height: auto;
    border-radius: 10px; 
}
.site-name {
    font-size: 20px; 
    color: white; 
    
}
.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0px 50px;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    padding: 0;
    margin: 0;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 7px;
    transition: background 0.3s;
    border-radius: 5px;
}
.navbar ul li a:hover {
    background-color: #11cdee; 
    color: black;
}
.carausel{
    margin: 10px 10px;
    padding: 10px 10px;
    height: 400px;
    width: auto;
    display: flex;
}
.carausel-2{
    margin: 10px 10px;
    padding: 10px 10px;
    height: 400px;
    width: 50%;
    color: #fff;
    text-align: center;
}
.profile{
    margin: 10px;
    padding: 10px;
    height: 35px;
    width: auto;
}
.image{
    height: auto;
    width: auto;
}
.image-1{
    margin: 10px;
    padding: 10ox;
    width: 20px;
    height: 20px;
}

.details-2{
    margin: 10px;
    padding: 10px;
    height: 35px;
    width: auto;
}
.carausel-3{
    margin: 10px 10px;
    padding: 10px 10px;
    height: 400px;
    width: 50%;
    color: #fff;
    text-align: center;
}
.textcontent{
    padding: 10px ;
    color: aquamarine;
}
.heading{
    font-size: 20px;
}
.section{
    margin: 10px 10px;
    padding: 10px 10px;
    height: 400px;
    width: 100%;
    color: #fff;
}

.section-1 {
    margin: 10px 10px;
    padding: 10px 10px;
    height: 400px;
    width: 100%;
    color: #fff;
}
.details-summurry{
    text-align: justify;
    font-size: 15px;
    color: aqua;
}